<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CtCI/src/chapterIX/Chapter 2( Linked Lists)/ReturnKthToTheLast.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ReturnKthToTheLast"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CtCI"/>
</launchConfiguration>
